langchain-openai==0.3.11
langchain-community==0.3.21
langchain-huggingface==0.1.2
faiss-gpu==1.7.2
beautifulsoup4
filelock
sentence-transformers==4.0.1
transformers==4.50.3
numpy==1.26.4
psutil
matplotlib==3.10.1
grandalf # optional for langchain graphs
google-generativeai==0.8.4
rank_bm25==0.2.2
cohere==5.14.2
langchain_cohere==0.4.3
langchain_core==0.3.51
wandb
sentence-transformer
pytz